<script>
  import "../app.css";

  import { onMount } from "svelte";

  import TaskList from "../components/TaskList.svelte";
  import Dates from "../components/dates.svelte";
  import TaskForm from "../components/TaskForm.svelte";
  import AddTaskButton from "../components/AddTaskButton.svelte";

  let tasks = [];
  let taskInputActive = false;

  loadTasks();

  function loadTasks() {
    fetch("http://localhost:3000/tasks")
      .then((response) => response.json())
      .then((data) => {
        tasks = data;
      });
  }

  async function createTask(event) {

    await fetch("http://localhost:3000/tasks", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
      },
      body: new URLSearchParams({
        title: event.detail,
      }),
    })
      .then((response) => response.json())
      .then((result) => {
        console.log(result);
      });
    loadTasks();
    taskInputActive = false;
  }

  async function removeTask(event) {
    const id = event.detail;
    console.log(id);

    await fetch(`http://localhost:3000/tasks/${id}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
      },
    }).then((response) => {
      if (!response.ok) {
        throw new Error();
      }
      tasks = tasks.filter((task) => task.id !== id);
    });
  }

  async function checkTask(event) {
    const id = event.detail;

    await fetch(`http://localhost:3000/tasks/${id}`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
      },
    }).then((response) => {
      if (!response.ok) {
        throw new Error();
      }
    });
  }
</script>

<main
  class="bg-secondary h-screen w-full flex flex-col items-center justify-center"
>
  <section
    class="flex flex-col bg-white shadow-lg rounded-xl py-16 px-10 w-[450px] h-[650px] relative"
  >
    <Dates />
    {#if taskInputActive}
      <TaskForm on:createTask={createTask} on:cancelTaskInput={() => {taskInputActive = false}} />
    {/if}
    <TaskList {tasks} on:removeTask={removeTask} on:checkTask={checkTask} />
    <AddTaskButton
      on:showTaskInput={() => {
        taskInputActive = true;
      }}
      disabled={taskInputActive}
    />
  </section>
</main>
