<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  export let disabled;
</script>

<button
  class="w-24 h-24 shadow-lg bg-primary hover:bg-primary-darken p-7 rounded-full absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 disabled:bg-tertiart duration-200"
  on:click={() => {dispatch('showTaskInput')}}
  {disabled}
>
  <img src="plus.svg" alt="" />
</button>
