<script>
</script>

<section
  class="flex items-center justify-between w-[95%] mx-auto pb-8 mb-8 border-b border-tertiary"
>
  <button>
    <svg class="h-8 w-8 group" viewBox="0 0 128 128">
      <line
        style="stroke:#d4d4d4;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
        x1="87.5"
        x2="40.5"
        y1="111"
        y2="64"
      />
      <line
        style="stroke:#d4d4d4;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
        x1="40.5"
        x2="87.5"
        y1="64"
        y2="17"
      />
    </svg>
  </button>
  <div class="text-center">
    <p class="text-secondary-font text-5xl">12</p>
    <p class="text-secondary-font text-3xl">June</p>
    <p class="text-secondary-font text-xl">2023</p>
  </div>
  <button class="w-8 h-8">
    <svg viewBox="0 0 128 128">
      <line
        style="stroke:#d4d4d4;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
        x1="40.5"
        x2="87.5"
        y1="17"
        y2="64"
      />
      <line
        style="stroke:#d4d4d4;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
        x1="87.5"
        x2="40.5"
        y1="64"
        y2="111"
      />
    </svg>
  </button>
</section>

<style>
    button:hover {
        stroke: #777;
    }
</style>
