<script>
  import Task from "./task.svelte";
  export let tasks;
</script>

<ul class="flex flex-col gap-2 overflow-y-auto max-h-[100%]">
  {#each tasks as task (task.id)}
    <li>
      <Task
        {task}
        on:removeTask
        on:checkTask
      />
    </li>
  {/each}
</ul>
