<script>
  import { createEventDispatcher } from "svelte";

  export let task;
  
  const dispatch = createEventDispatcher();
</script>

<article
  class="flex gap-2 items-center hover:bg-gray-50 px-2 py-1 rounded text-lg group"
>
  <input
    type="checkbox"
    name="task"
    id={task.id}
    checked={task.checked}
    class="peer hidden"
    on:change={() => {
      dispatch('checkTask', task.id)
    }}
  />
  <label
    for={task.id}
    class="text-primary-font rounded-full w-5 h-5 flex items-center justify-center border-[2px] border-[#d4d4d4] cursor-pointer
    before:content-[''] before:w-1/2 before:h-1/2 before:bg-primary before:scale-0 peer-checked:before:scale-100 before:duration-100 before:rounded-full"
  />
  <p class="text-primary-font">{task.title}</p>
  <button
    class="flex items-center justify-center w-6 h-6 opacity-0 ml-auto bg-primary hover:bg-primary-darken p-0.5 rounded group-hover:opacity-100 duration-200"
    on:click={() => {
      dispatch("removeTask", task.id);
    }}
  >
    <img src="bin.svg" alt="remove" class="w-[90%] h-[90%]" />
  </button>
</article>
