<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  import { onMount, beforeUpdate, afterUpdate } from "svelte";

  let title;

  onMount(() => {
    document.querySelector("#taskInput").focus();
  });
</script>

<form
  class="w-[95%] mx-auto mb-3"
  on:submit|preventDefault={() => dispatch("createTask", title)}
>
  <div class="flex border-b border-tertiary mb-2 px-2">
    <input
      type="text"
      name="title"
      id="taskInput"
      bind:value={title}
      class="py-1 rounded w-[90%] focus:border-none focus:outline-none text-lg text-primary-font"
    />
    <button class="ml-auto" type="button" on:click={() => dispatch('cancelTaskInput')}>
        <img src="cross.svg" alt="cancel" class="w-5 h-5">
    </button>
  </div>
</form>
